# vim: ft=bash
# User/contact info
export USER_NAME='Renee Gyllensvaan'
# export USER_WORK_EMAIL='rgyllensvaan@cobaltgp.com'
# export USER_HOME_EMAIL='renee.gyllensvaan@gmail.com'
export GITHUB_USER='reneegyllensvaan'

# Configure with:
#   Macos: 'echo -e "$(brew --prefix asdf)/asdf.sh" | pbcopy'
export ASDF_ZSHRC_PATH=''

export COLORSCHEME='onedark-vibrant'  # home | work
export USER_PROFILE_ENV='home'  # home | work
export OPERATING_SYSTEM='linux' # osx | linux
export USER_EMAIL=`[ "$USER_PROFILE_ENV" = "work" ] && echo "$USER_WORK_EMAIL" || echo "$USER_HOME_EMAIL"`
# export GUI_GPG_PINENTRY='/usr/local/MacGPG2/libexec/pinentry-mac.app/Contents/MacOS/pinentry-mac'
export GUI_GPG_PINENTRY=`which pinentry-curses`

# GPG Settings
export GPG_FINGERPRINT='FD52CF8CEAFF27FB03887BEAB4F76D0CFD1B30D4'
export GPG_KEYID_LONG='B4F76D0CFD1B30D4'
export GPG_KEYID_SHORT='FD1B30D4'
export GPG_KEYGRIP='67BD0BD672F1A6C6FFE65D1CEF6A63D6BD136012'

export GPG_ENCRYPTION_KEYID='923EEF94D89EFC5A'
export GPG_SIGNING_KEYID='47EE898A014EEF1B'
export GPG_AUTH_KEYID='C820BFAD1C9D1365'

export GIT_SIGNING_KEY=$GPG_SIGNING_KEYID
