[submodule "qmk/qmk_configs"]
	path = qmk/qmk_configs
	url = git@github.com:reneegyllensvaan/qmk_configs.git
[submodule "zmodules/zsh-syntax-highlighting"]
	path = zmodules/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "system-packages/from-source/fxz"]
	path = system-packages/from-source/fxz
	url = git@github.com:conor42/fxz.git
[submodule "steno/steno-dictionaries"]
	path = steno/steno-dictionaries
	url = https://github.com/didoesdigital/steno-dictionaries.git
